---
BasedOnStyle: Microsoft

Standard: c++20

MaxEmptyLinesToKeep: 2
PointerAlignment:    Left

SortIncludes:          true
SortUsingDeclarations: true

AccessModifierOffset:         -4
AlignConsecutiveAssignments:  true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros:       true
IndentPPDirectives:           BeforeHash
UseTab:                       ForIndentation

SpaceBeforeParens: Never
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: InlineOnly

...
