[submodule "deps/Graphics"]
	path = deps/graphics
	url = https://github.com/ShenMian/Graphics
[submodule "deps/Math"]
	path = deps/math
	url = https://github.com/ShenMian/Math
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/libnyquist"]
	path = deps/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist
