[submodule "Thirdparty/googletest"]
	path = Thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "Thirdparty/imguizmo"]
	path = Thirdparty/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
